<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Refresh" content="3">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
<script type="text/javascript">
	if (<%= @working.length %> == 0 ) {
	 $.ajax({type: "POST", url: '/jobs', data: { keywords: <%= "'#{redis.get "keywords"}'"%>} }).done(function(data) {
	 	window.location.replace('/jobs');
	 });}
	</script>
</script>
<link rel="stylesheet" href=" <%= url('/styles.css') %>">
</head>
<body>
 <div>Retrieving websites...</div>	
</body>
</html>


