<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= @keywords_regex %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href=" <%= url('/styles.css') %>">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
	<script type="text/javascript">
	 $.ajax({type: "POST", url: '/results', data: { keywords: <%= "'#{redis.get "keywords"}'"%>} }).done(function(data) {
	 	$("#c").remove();
	 	$("#results").html(data);
	 });
	</script>
</head>
<body>
<div id='c'>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
</div>
</div>
	<div id="results"></div>
</body>
</html>